### IntelliJ IDEA ###
.idea/
*.iml
out/
.kotlin

### Java ###
*.class
target/
build/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
*.iml
*.class
out/
